moto==5.0.20
ckanapi==4.3

httpretty==1.1.4
parameterized==0.9.0
pytest-cov
pytest-ckan
six>=1.13.0
urllib3>=1.26.19 # not directly required, pinned to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
